<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SingleImageSuperResolution.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SingleImageSuperResolution.GUI.Properties.Settings>
            <setting name="DecLevelsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IncLevelsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DecreaseRatio" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="IncreaseRatio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BlockSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DecIncrementRatio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Parallel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceDistance" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="OrigIncrement" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Randomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputImagesPath" serializeAs="String">
                <value>..\..\..\Samples\</value>
            </setting>
            <setting name="InputImageIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </SingleImageSuperResolution.GUI.Properties.Settings>
    </userSettings>
</configuration>
